.game-screen {
    background-color: #81ae9d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.game-screen .div {
    background-color: #81ae9d;
    height: 900px;
    position: relative;
    width: 100%;
}

.game-screen .overlap-group {
    background-color: #308a54;
    height: 173px;
    left: 0;
    position: absolute;
    top: 727px;
    width: 100%;
}

.game-screen .health-1 {
    height: 37px;
    left: 427px;
    position: absolute;
    top: 76px;
    width: 44px;
}

.game-screen .health-2 {
    height: 37px;
    left: 340px;
    position: absolute;
    top: 76px;
    width: 44px;
}

.game-screen .health-3 {
    height: 37px;
    left: 253px;
    position: absolute;
    top: 76px;
    width: 44px;
}

.game-screen .clear-text {
    height: 36px;
    left: 968px;
    position: absolute;
    top: 77px;
    width: 35px;
}

.game-screen .input-text {
    background-color: #81ae9d;
    border: 2px solid #1e1e1e;
    border-radius: 8px;
    height: 73px;
    left: 515px;
    position: absolute;
    top: 58px;
    width: 409px;
}

.game-screen .overlap {
    height: 727px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.game-screen .treetrunk-ol {
    background-color: #3f301d;
    height: 557px;
    left: 48px;
    position: absolute;
    top: 170px;
    width: 26px;
}

.game-screen .treetrunk-il {
    background-color: #3f301d80;
    height: 557px;
    left: 105px;
    position: absolute;
    top: 170px;
    width: 26px;
}

.game-screen .overlap-2 {
    height: 214px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.game-screen .treetop-or {
    height: 214px;
    left: 1090px;
    position: absolute;
    top: 0;
    width: 350px;
}

.game-screen .treetop-il {
    height: 112px;
    left: 144px;
    position: absolute;
    top: 0;
    width: 605px;
}

.game-screen .treetop-ir {
    height: 137px;
    left: 692px;
    position: absolute;
    top: 0;
    width: 748px;
}

.game-screen .treetop-ol {
    height: 170px;
    left: 0;
    position: absolute;
    top: 0;
    width: 472px;
}

.game-screen .treetrunk-or {
    background-color: #3f301d;
    height: 513px;
    left: 1361px;
    position: absolute;
    top: 214px;
    width: 26px;
}

.game-screen .treetrunk-ir {
    background-color: #3f301d80;
    height: 513px;
    left: 1289px;
    position: absolute;
    top: 214px;
    width: 26px;
}

.heart:before {
    content: "";
	position: absolute;
	left: 40px;
	width: 40px;
	height: 68px;
	border-radius: 40px 40px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	background: #C25B77;
}

.heart:after {
    content: "";
	position: absolute;
	left: 0;
	width: 40px;
	height: 68px;
	border-radius: 40px 40px 0 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
	background: #C25B77;
}

.health-1 {
    height: 37px;
    left: 427px;
    position: absolute;
    top: 76px;
    width: 44px;
}

.health-2 {
    height: 37px;
    left: 340px;
    position: absolute;
    top: 76px;
    width: 44px;
}

.health-3 {
    height: 37px;
    left: 253px;
    position: absolute;
    top: 76px;
    width: 44px;
}