p { margin:0 }

.App {
  text-align: center;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}
/* #21A179 */
.btn {
  background-color: #00A258 !important;
  /* border-color --> 10% tint */
  border-color: #1AAB69 !important;
  border: 6px;
}

.btn:hover {
  /* background-color --> 10% shade */
  background-color: #00924F !important;
}
.tooltip {
    /* background-color --> 60% shade */
  --bs-tooltip-bg: #004123 !important;
}
.display-name-jp {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin: 10px 0 0;
}
.display-name-en {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 900;
  margin:0;
}
/* #1E1E24 - raisin black */
.App-header {
  background-color: #81AE9D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-link {
  color: #21A179;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    transform-origin: 50% 0;
    animation: App-logo-spin 3.5s ease-in-out forwards infinite;
  }
}

@keyframes App-logo-spin{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
